{% extends 'hotel/index.html' %}

{% block title %}
Food Menu
{% endblock %}

{% block body %}

<div class=" m-15">
    {% for item in items %}
    <div class="flex  gap-5 pt-10 items-center">
        <div class="">
            <a href="item/{{item.id}}/"><img src="{{item.food_image}}" alt="" srcset="" class="w-64 rounded-2xl border-3 border-blue-100"></a>
        </div>
        <div>
            <a href="item/{{item.id}}/"><h4 class=" font-bold text-3xl">{{item.food_name}}</h4></a>
            <p class="  text-2xl">price: {{item.food_price}}$</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}