{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>

    <div>
        <nav class=" flex justify-between items-center">
            <div>
                <p>Metasoul</p>
            </div>
            <div>
                <p>Food</p>
                <p>About</p>
                <p>Contact</p>
            </div>
        </nav>
    </div>

    {% block body %}
    {% endblock %}

</body>

</html>