{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hotel/output.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>

    <nav class=" bg-blue-900   w-auto items-center justify-center">
        <div class="flex justify-between items-center mx-50 p-3  border-gray-50  ">

            <div>
                <p class="text-2xl text-white font-semibold cursor-pointer">Metasoul</p>
            </div>

            <div class=" flex justify-between gap-5  text-xl text-gray-100">
                <p class=" cursor-pointer">Food</p>
                <p class=" cursor-pointer">About</p>
                <p class=" cursor-pointer">Contact</p>
            </div>

        </div>
    </nav>


    {% block body %}
    {% endblock %}

</body>

</html>