{% extends 'hotel/base.html' %}

{% block title %}
MetaSoul Resturent
{%endblock%}

{% block body %}

<div class="m-40 w-fit mx-70">

    <p class=" text-6xl">Your home</p>
    <div class=" flex  items-center gap-4">
    <p class=" text-3xl font-bold text-red-500">our</p>
    <p class=" text-6xl">service</p>
    </div>
    <p class="pt-3  font-extralight">📍Dhaka's Most Iconic Luxury Hotel</p>
</div>


<div class="absolute inset-y-40 right-20 ">
        <img src="https://www.ihgplc.com/~/media/Images/I/Ihg-Plc/images/news/2022/hotel-of-the-month-intercontinental-amman-jordan/intercontinental-jordan-amman.jpg" alt="" srcset="" class=" rounded-2xl shadow-2xl border-gray-50 border-3" height="700 px" width="750 px">
</div>

{% endblock %}